if TARGET_SMX7

config SYS_BOARD
	default "smx7"

config SYS_VENDOR
	default "kontron"

config SYS_CONFIG_NAME
	default "smx7"

menu "Kontron Extensions"

config KEX_IMX_WATCHDOG
	bool "IMX watchdog support"

endmenu

endif
